@media only screen 
and (min-width : 350px) {
    .rowCategories{
        max-width:350px;
    }
}

.rowCategories {
  width: 80%;
  padding-top: 30px;
  margin: auto;
  border-radius: 50px;
}

.form {
    z-index: 1;
    background: #FFFFFF;
    max-width: 600px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  0px 0px 15px 10px #bebebe;
}

.form input {
    outline: 0;
    background: #e0e0e0;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
}

.form input:focus {
    background: #e0e0e0;
}

.form button {
    font-family: 'Comfortaa', cursive;
    outline: 0;
    background: #e0e0e0;
    width: 50%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
}
  
.categoryButton{
    background-color: white;
    border: none;
    outline: none;
}
