<div class="mt-5">
  <div class="col-md-5 mx-auto">
    <img class="aboutImg rounded-circle py-auto" [src]="imgPath">
  </div>
  <div class="col-md-7 mx-auto mt-5 aboutCardBody">
    <div class="text-break aboutText">
      <h5>Merhabalar,</h5>
      <p>Ben Buğra. OMÜ Tıp Fakültesi 5.sınıf öğrencisiyim ve 2 yıldan fazla zamandır kişisel maddi özgürlüğümü edinmek adına çalışmalar yapıyorum. </p>
      <p>Maddi tatmin peşinde koşarken, manevi olarak geride kalmamak adına her iki kanattan da yaptığım paylaşımlarım(kişisel gelişim / kişisel finans) blogun ana odak noktaları olacak.</p>
      <p>Lütfen herhangi bir sorun olduğunda bana ulaşmaya çekinme!</p>
      <p>İyi okumalar</p>
      <p>Saygılarımla...</p>
    </div>
  </div>
</div>
