.linkImg{
    font-size: xx-large;
    color: black;
}

.linkName{
    font-size:200%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.contDiv{
    display: flex;
    justify-content: center;
}

.linkDiv{
    display: flex;
    justify-content:space-between;
}
