<div class="rowAdmin pt-5">
  <div class="column">
    <div class="row my-5 divHead">
      <button id="blogs" routerLink="/admin/blogs" class="text-break">
        BLOGLAR
      </button>
      <button id="links" routerLink="/admin/links" class="text-break">
        LİNKLER
      </button>
      <button id="categories" routerLink="/admin/categories" class="text-break">
        KATEGORİLER
      </button>
      <button id="addBlog" routerLink="/admin/add-blog" class="text-break">
        BLOG YAZ
      </button>
  </div>
  </div>
</div>
<div class="row my-5">
  <router-outlet></router-outlet>
</div>

